.dqdt-sidebar .title-head {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px
}

.dqdt-sidebar .aside-cate {
    padding: 10px 20px 10px;
    background-color: #f7f8f9;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
    margin-bottom: 20px
}

@media (max-width: 991px) {
    .dqdt-sidebar .aside-cate {
        padding: 10px 10px 10px
    }
}

.dqdt-sidebar .nav-category ul {
    padding: 0;
    margin: 0;
    list-style: none
}

.dqdt-sidebar .nav-category ul .nav-item .nav-link {
    display: block;
    padding: 8px 0;
    font-size: 15px
}

.dqdt-sidebar .nav-category ul .nav-item .nav-link.pr-5 {
    padding-right: 30px
}

.dqdt-sidebar .nav-category ul .nav-item.active > .nav-link {
    color: #141414
}

.dqdt-sidebar .nav-category ul .menu_down {
    padding-left: 10px !important
}

.dqdt-sidebar .nav-category ul .down_icon {
    width: 30px;
    height: 30px;
    top: 5px;
    right: 0;
    transition: 0.5s all;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center
}

.dqdt-sidebar .nav-category ul .down_icon::before, .dqdt-sidebar .nav-category ul .down_icon::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
    transform: translate(-50%, -50%) rotate(-90deg);
    background-color: currentColor;
    -webkit-transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out
}

.dqdt-sidebar .nav-category ul .down_icon::before {
    width: 11px;
    height: 1.5px;
    opacity: 1
}

.dqdt-sidebar .nav-category ul .down_icon::after {
    width: 1.5px;
    height: 11px
}

.dqdt-sidebar .nav-category ul .down_icon.cls_mn > a {
    color: #141414
}

.dqdt-sidebar .nav-category ul .down_icon.cls_mn::after {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg)
}

.dqdt-sidebar .nav-category ul .down_icon.cls_mn::before {
    opacity: 0
}

.opacity_sidebar {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0 !important;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
    display: none
}

.opacity_sidebar.openf {
    display: block
}

.products-view {
    margin-top: 18px
}

.layout-collection {
    padding-bottom: 0px
}

.layout-collection .col-title {
    text-align: left;
    margin-bottom: 10px
}

.layout-collection .col-title h1 {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0px
}

.layout-collection .col-banner {
    margin-bottom: 20px
}

.layout-collection .col-banner a {
    display: block;
    width: 100%;
    aspect-ratio: 1900/300;
    overflow: hidden;
    position: relative
}

@media (max-width: 480px) {
    .layout-collection .col-banner a.has-aspect-1 {
        aspect-ratio: 480/340
    }
}

.layout-collection .col-banner a img {
    width: 100%
}

.layout-collection .col-banner a:hover {
    filter: brightness(1.1)
}

.layout-collection .col-list-cate {
    flex: 1 1 0%;
    overflow: hidden;
    position: absolute;
    max-width: calc(100% - 200px)
}

.layout-collection .col-list-cate .tab_ul ul {
    scrollbar-face-color: #367CD2;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF;
    scrollbar-width: none
}

.layout-collection .col-list-cate .tab_ul ul::-webkit-scrollbar {
    width: 0;
    height: 0
}

.layout-collection .col-list-cate .tab_ul ul::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    height: 0
}

.layout-collection .col-list-cate .tab_ul ul::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: rgba(255, 0, 0, 0.8);
    -webkit-box-shadow: none
}

.layout-collection .col-list-cate .tab_ul .grad-left {
    position: absolute;
    top: 0%;
    left: 0;
    z-index: 3;
    width: 50px;
    height: 100%;
    display: none;
    justify-content: start;
    align-items: center;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #fff, #fff)
}

.layout-collection .col-list-cate .tab_ul .grad-right {
    position: absolute;
    top: 0%;
    z-index: 3;
    right: 0;
    width: 50px;
    height: 100%;
    display: none;
    justify-content: end;
    align-items: center;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff, #fff)
}

.layout-collection .col-list-cate .tab_ul .button {
    cursor: pointer
}

.layout-collection .col-list-cate .tab_ul .button.prev svg path {
    fill: var(--mainColor)
}

.layout-collection .col-list-cate .tab_ul .menu-list {
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    text-align: left
}

@media (min-width: 1200px) {
    .layout-collection .col-list-cate .tab_ul .menu-list {
        overflow-x: hidden;
        overflow-y: hidden
    }
}

.layout-collection .col-list-cate .tab_ul .menu-list .cate-item {
    padding: 4px 20px;
    display: inline-block;
    position: relative;
    font-weight: 600;
    background: #e3e3e3;
    -webkit-clip-path: polygon(8px 0%, 100% 0%, calc(100% - 8px) 100%, 0% 100%);
    clip-path: polygon(8px 0%, 100% 0%, calc(100% - 8px) 100%, 0% 100%);
    transition-duration: .3s
}

.layout-collection .col-list-cate .tab_ul .menu-list .cate-item:hover {
    background: var(--mainColor);
    color: #fff
}

.layout-collection .col-list-cate .tab_ul .menu-list .cate-item:first-child {
    -webkit-clip-path: polygon(0 0, 100% 0%, calc(100% - 8px) 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, calc(100% - 8px) 100%, 0% 100%)
}

.layout-collection .col-list-cate .tab_ul .menu-list .cate-item:last-child {
    -webkit-clip-path: polygon(8px 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(8px 0%, 100% 0%, 100% 100%, 0% 100%)
}

.layout-collection .col-list-cate .tab_ul .menu-list .cate-item:hover {
    background: var(--mainColor);
    color: #fff
}

.layout-collection .col-list-cate .tab_ul .menu-list .cate-item.active {
    background: var(--mainColor);
    color: #fff
}

.layout-collection .col-list-cate .tab_ul.has-nav {
    padding: 0px 20px
}

.layout-collection .col-list-cate .tab_ul.has-nav .menu-list .cate-item:first-child {
    margin-left: 20px
}

.layout-collection .col-list-cate .tab_ul.has-nav .menu-list .cate-item:last-child {
    margin-right: 20px
}

.layout-collection .col-list-cate .tab_ul.has-nav .grad-left, .layout-collection .col-list-cate .tab_ul.has-nav .grad-right {
    display: flex
}

.layout-collection .col-list-cate .tab_ul .button {
    display: flex;
    justify-content: center;
    align-items: center
}

.layout-collection .col-list-cate .tab_ul .button:hover svg {
    color: var(--subColor)
}

.layout-collection .col-list-cate .tab_ul .button:hover svg path {
    fill: var(--subColor)
}

.layout-collection .filter-containers {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px
}

.layout-collection .filter-containers .sort-cate {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.layout-collection .filter-containers .sort-cate .sudes-filter {
    display: none;
    position: relative
}

.layout-collection .filter-containers .sort-cate .sudes-filter a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
    font-size: 1.4rem;
    border: #ccc solid 1px;
    color: #333f48;
    background: #f1f1f1;
    font-weight: 600;
    height: 34px;
    line-height: inherit;
    position: relative
}

.layout-collection .filter-containers .sort-cate .sudes-filter a svg {
    margin-right: 6px;
    width: 18px;
    height: 18px;
    position: relative;
    top: -1px
}

@media (min-width: 1024px) {
    .layout-collection .filter-containers .sort-cate .sudes-filter a:hover, .layout-collection .filter-containers .sort-cate .sudes-filter a.active {
        color: #fff;
        border-color: var(--mainColor);
        background-color: var(--mainColor);
        cursor: pointer
    }

    .layout-collection .filter-containers .sort-cate .sudes-filter a:hover svg path, .layout-collection .filter-containers .sort-cate .sudes-filter a.active svg path {
        fill: #fff !important
    }
}

.layout-collection .filter-containers .sort-cate .sudes-filter span {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--subColor);
    transition: all 0.3s ease-in-out;
    text-align: center;
    line-height: 16px;
    color: #333;
    font-size: 0.9rem;
    margin-left: 4px
}

.layout-collection .filter-containers .sort-cate .sort-cate-right {
    flex-grow: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative
}

.layout-collection .filter-containers .sort-cate .sort-cate-right h3 {
    font-size: 1.4rem;
    color: #000;
    float: left;
    margin: 0;
    margin-right: 5px;
    font-weight: 700;
    width: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    height: 34px;
    font-size: 1.4rem;
    border-radius: 0px;
    border: #ccc solid 1px;
    color: #333f48;
    background: #f1f1f1;
    font-weight: 600;
    min-width: 110px;
    text-align: center;
    margin: 0px;
    cursor: pointer
}

.layout-collection .filter-containers .sort-cate .sort-cate-right h3 svg.bi-sort-alpha-down {
    width: 22px;
    height: 22px;
    margin-right: 2px
}

.layout-collection .filter-containers .sort-cate .sort-cate-right h3 svg.bi-sort-alpha-down path {
    fill: #333
}

.layout-collection .filter-containers .sort-cate .sort-cate-right h3 svg.bi-caret-down-fill {
    width: 12px;
    height: 12px;
    margin: 0 4px
}

.layout-collection .filter-containers .sort-cate .sort-cate-right h3 svg.bi-caret-down-fill path {
    fill: #333
}

.layout-collection .filter-containers .sort-cate .sort-cate-right h3.active svg.bi-caret-down-fill {
    transform: rotate(180deg)
}

.layout-collection .filter-containers .sort-cate .sort-cate-right ul {
    /*display: none;*/
    position: absolute;
    z-index: 99;
    background-color: #fff;
    top: calc(100% + 10px);
    min-width: 164px;
    text-align: left;
    background: #f1f1f1;
    box-shadow: 2px 3px 7px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
    padding: 6px
}

.layout-collection .filter-containers .sort-cate .sort-cate-right ul:before {
    display: block;
    position: absolute;
    border: 10px solid transparent;
    border-bottom-color: #f1f1f1;
    content: "";
    top: -18px;
    right: 16px;
    z-index: -1
}

.layout-collection .filter-containers .sort-cate .sort-cate-right ul li {
    display: block;
    padding-left: 0;
    width: 100%;
    text-align: center
}

.layout-collection .filter-containers .sort-cate .sort-cate-right ul li a {
    display: block;
    padding: 4px 10px;
    font-size: 1.4rem;
    border-radius: 0px;
    color: #333f48;
    background-color: transparent;
    font-weight: 500;
    text-align: left
}

@media (max-width: 991px) {
    .layout-collection .filter-containers .sort-cate .sort-cate-right ul li a {
        border: 0px
    }
}

.layout-collection .filter-containers .sort-cate .sort-cate-right ul li:hover a, .layout-collection .filter-containers .sort-cate .sort-cate-right ul li.active a {
    color: #fff;
    border-color: var(--mainColor);
    background-color: var(--mainColor)
}

.layout-collection .dqdt-sidebar .close-filters {
    display: none;
    justify-content: center;
    align-items: center;
    background: var(--subColor);
    color: #333;
    position: absolute;
    top: 0;
    left: 100%;
    width: 30px;
    height: 30px
}

.layout-collection .dqdt-sidebar .close-filters svg {
    width: 20px;
    height: 20px
}

.layout-collection .dqdt-sidebar .close-filters:hover {
    background: var(--hoverColor)
}

.layout-collection .dqdt-sidebar .section-box-bg {
    overflow: auto;
    height: 100%
}

.layout-collection .dqdt-sidebar .section-box-bg::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #F5F5F5
}

.layout-collection .dqdt-sidebar .section-box-bg::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5
}

.layout-collection .dqdt-sidebar .section-box-bg::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    background-color: #e5e5e5
}

.layout-collection .dqdt-sidebar .filter-content {
    height: auto;
    display: inline-block;
    width: 100%;
    border: 1px solid #eee;
    margin-bottom: 30px
}

.layout-collection .dqdt-sidebar .filter-content > .aside-title {
    padding: 10px;
    background: #eee;
    margin-bottom: 10px
}

.layout-collection .dqdt-sidebar .filter-content > .aside-title .title-head {
    font-size: 2rem;
    margin: 0px
}

.layout-collection .dqdt-sidebar .filter-content > .aside-title .title-head svg {
    position: relative;
    top: -2px;
    width: 20px;
    height: 20px;
    margin-right: 4px
}

.layout-collection .dqdt-sidebar .filter-content .filter-container {
    padding: 10px
}

.layout-collection .dqdt-sidebar .filter-content .filter-container .filter-container__selected-filter-header {
    margin-bottom: 10px
}

.layout-collection .dqdt-sidebar .filter-content .filter-container .filter-container__selected-filter-header-title {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--mainColor)
}

.layout-collection .dqdt-sidebar .filter-content .filter-container .filter-container__clear-all {
    float: right;
    font-size: 1.5rem;
    color: #bf1e2e;
    margin-top: 0px;
    font-weight: 500
}

.layout-collection .dqdt-sidebar .filter-content .filter-container .filter-container__clear-all i {
    margin-left: 3px
}

.layout-collection .dqdt-sidebar .filter-content .filter-container .filter-container__clear-all i svg {
    width: 10px;
    height: 10px;
    position: relative;
    bottom: 1px
}

.layout-collection .dqdt-sidebar .filter-content .filter-container .filter-container__clear-all i svg path {
    fill: #bf1e2e
}

.layout-collection .dqdt-sidebar .filter-content .filter-container .filter-container__clear-all:hover {
    color: var(--hoverColor)
}

.layout-collection .dqdt-sidebar .filter-content .filter-container .filter-container__clear-all:hover i svg path {
    fill: var(--hoverColor)
}

.layout-collection .dqdt-sidebar .filter-content .filter-container .filter-container__selected-filter-item {
    padding: 3px 0
}

.layout-collection .dqdt-sidebar .filter-content .filter-container .filter-container__selected-filter-item > a {
    color: #333;
    font-size: em(13px);
    position: relative;
    padding-left: 15px
}

.layout-collection .dqdt-sidebar .filter-content .filter-container .filter-container__selected-filter-item .fa {
    margin-right: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' x='0px' y='0px' viewBox='0 0 492 492' style='enable-background:new 0 0 492 492;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872 c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872 c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052 L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116 c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952 c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116 c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    width: 20px;
    height: 9px;
    display: block;
    background-size: contain;
    position: absolute;
    top: 5px;
    left: 0px
}

.layout-collection .dqdt-sidebar .filter-content .filter-container .filter-container__selected-filter-item .fa:before {
    content: none
}

.layout-collection .dqdt-sidebar .filter-content .filter-container .filter-container__selected-filter {
    width: 100%;
    border-bottom: 1px dashed #ddd;
    margin-bottom: 15px
}

.layout-collection .dqdt-sidebar .filter-content .filter-container .filter-container__selected-filter-list ul {
    padding-left: 0px;
    overflow: hidden;
    margin-bottom: 10px
}

.layout-collection .dqdt-sidebar .filter-content .filter-container .filter-container__selected-filter-list ul li {
    display: inline-block;
    float: left;
    font-size: 1.4rem;
    margin-right: 10px;
    background: var(--mainColor);
    color: #fff;
    padding: 0 5px;
    margin-bottom: 5px
}

.layout-collection .dqdt-sidebar .filter-content .filter-container .filter-container__selected-filter-list ul li a {
    color: #fff
}

.layout-collection .dqdt-sidebar .filter-content .filter-container .filter-container__selected-filter-list ul li .fa {
    filter: invert(1)
}

.layout-collection .dqdt-sidebar .filter-content .filter-container .aside-item {
    width: 100%;
    display: block;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px
}

.layout-collection .dqdt-sidebar .filter-content .filter-container .aside-item:last-child {
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: none
}

.layout-collection .dqdt-sidebar .filter-content .filter-container .aside-item .aside-title {
    position: relative;
    margin-bottom: 10px
}

.layout-collection .dqdt-sidebar .filter-content .filter-container .aside-item .aside-title h2 {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px
}

.layout-collection .dqdt-sidebar .filter-content .filter-container .aside-item .aside-content ul {
    width: 100%;
    display: inline-block;
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
    max-height: 176px;
    overflow: hidden;
    overflow-y: auto
}

.layout-collection .dqdt-sidebar .filter-content .filter-container .aside-item .aside-content ul::-webkit-scrollbar {
    width: 5px;
    background-color: #F2F2F2
}

.layout-collection .dqdt-sidebar .filter-content .filter-container .aside-item .aside-content ul::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    background-color: var(--mainColor)
}

.layout-collection .dqdt-sidebar .filter-content .filter-container .aside-item .aside-content ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: #F2F2F2
}

.layout-collection .dqdt-sidebar .filter-content .filter-container .aside-item .aside-content ul .filter-item {
    margin-bottom: 10px;
    padding-left: 24px;
    position: relative
}

.layout-collection .dqdt-sidebar .filter-content .filter-container .aside-item .aside-content ul .filter-item:last-child {
    margin-bottom: 0px
}

.layout-collection .dqdt-sidebar .filter-content .filter-container .aside-item .aside-content ul .filter-item input[type=checkbox] {
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    position: absolute;
    top: 3px;
    left: 2px;
    display: none
}

.layout-collection .dqdt-sidebar .filter-content .filter-container .aside-item .aside-content ul .filter-item input[type=checkbox] + .fa:before {
    content: "";
    margin-right: 5px;
    font-size: 18px;
    border: solid 1px #ddd;
    line-height: 40px;
    position: absolute;
    top: 6px;
    left: 0px;
    height: 15px !important;
    width: 15px;
    border-radius: 3px
}

.layout-collection .dqdt-sidebar .filter-content .filter-container .aside-item .aside-content ul .filter-item input[type=checkbox]:checked + span {
    color: var(--mainColor)
}

.layout-collection .dqdt-sidebar .filter-content .filter-container .aside-item .aside-content ul .filter-item input[type=checkbox]:checked + .fa, .layout-collection .dqdt-sidebar .filter-content .filter-container .aside-item .aside-content ul .filter-item input[type=checkbox]:checked + span {
    color: #141414
}

.layout-collection .dqdt-sidebar .filter-content .filter-container .aside-item .aside-content ul .filter-item input[type=checkbox]:checked + .fa:after, .layout-collection .dqdt-sidebar .filter-content .filter-container .aside-item .aside-content ul .filter-item input[type=checkbox]:checked + span:after {
    position: absolute;
    content: '';
    width: 13px;
    height: 13px;
    line-height: 13px;
    background-image: url(check-white.svg);
    background-repeat: no-repeat;
    background-size: contain;
    top: 6px;
    left: 1px;
    font-size: 12px;
    left: 1px
}

.layout-collection .dqdt-sidebar .filter-content .filter-container .aside-item .aside-content ul .filter-item input[type=checkbox]:checked + .fa:before, .layout-collection .dqdt-sidebar .filter-content .filter-container .aside-item .aside-content ul .filter-item input[type=checkbox]:checked + span:before {
    border-color: var(--mainColor);
    background: var(--mainColor)
}

.layout-collection .dqdt-sidebar .filter-content .filter-container .aside-item .aside-content ul .filter-item label {
    width: 100%;
    font-size: 1.6rem;
    color: #282828;
    margin-bottom: 0px;
    cursor: pointer
}

.layout-collection .dqdt-sidebar .filter-content .filter-container .aside-item .aside-content ul .filter-item label:hover {
    color: var(--hoverColor)
}

@media (max-width: 991px) {
    .layout-collection .col-list-cate {
        max-width: calc(100% - 350px)
    }

    .layout-collection .filter-containers {
        display: flex;
        justify-content: end
    }

    .layout-collection .filter-containers .sort-cate {
        gap: 8px;
        width: 100%
    }
}

@media (max-width: 991px) and (min-width: 767px) {
    .layout-collection .filter-containers .sort-cate {
        width: 320px
    }
}

@media (max-width: 991px) {
    .layout-collection .filter-containers .sort-cate .sudes-filter {
        display: inline-block;
        width: 50%
    }
}

@media (max-width: 991px) and (max-width: 768px) {
    .layout-collection .filter-containers .sort-cate .sudes-filter {
        max-width: 200px
    }
}

@media (max-width: 991px) {
    .layout-collection .filter-containers .sort-cate .sort-cate-right {
        width: 50%
    }
}

@media (max-width: 991px) and (max-width: 768px) {
    .layout-collection .filter-containers .sort-cate .sort-cate-right {
        max-width: 200px
    }
}

@media (max-width: 991px) {
    .layout-collection .filter-containers .sort-cate .sort-cate-right h3 {
        width: 100%
    }

    .layout-collection .filter-containers .sort-cate .sort-cate-right ul {
        width: 100%
    }

    .layout-collection .dqdt-sidebar {
        padding: 0px;
        position: fixed;
        width: 340px;
        top: 0 !important;
        bottom: 0;
        background-color: #fff;
        z-index: 999999;
        transform: translateX(-100%);
        visibility: hidden;
        transition: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), visibility 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
        box-shadow: none;
        touch-action: manipulation;
        left: 0
    }

    .layout-collection .dqdt-sidebar.active {
        visibility: visible;
        transform: translateX(0)
    }

    .layout-collection .dqdt-sidebar .close-filters {
        display: flex
    }

    .layout-collection .dqdt-sidebar .filter-content > .aside-title .title-head {
        font-size: 1.8rem
    }

    .layout-collection .dqdt-sidebar .filter-content {
        margin-bottom: 0px
    }
}

@media (max-width: 767px) {
    .layout-collection .col-title h1 {
        font-size: 2.4rem
    }

    .layout-collection .col-list-cate {
        position: relative;
        top: initial;
        width: 100%;
        max-width: initial;
        margin-bottom: 20px
    }

    .layout-collection .filter-containers .list-cate-area {
        display: none
    }

    .layout-collection .dqdt-sidebar {
        width: 256px
    }
}
